body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    font-size: 100px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(16, 32px);
  grid-template-rows: repeat(16, 32px);
  justify-content: center;
  border: 1px solid red;
}

.gridItem {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.gridItem:hover {
    background-color: blue;
}

.reset {
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouseover {
  background-color: orange;
}

.slidecontainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}